@charset "utf-8";

@media only screen and (max-width: 1200px) {
.container {
	width: 936px;
}
.large-bg-tiles .col--3-2 {
	width: 468px;
	height: 468px;
}
.large-bg-tiles .col--3-2 .parent {
	padding: 55px 80px;
}
.extra-padding-right {
	padding-right: 10px
}
}

@media only screen and (max-width: 992px) {
.container {
	width: 702px;
}
.large-bg-tiles .col--3-2, .large-bg-tiles .col--2-2 {
	width: 702px;
	height: 468px;
}
.large-bg-tiles .col--3-2 .parent, .large-bg-tiles .col--2-2 .parent {
	padding: 55px 160px;
}
.about .large-bg-tiles .col--2-2.text {
	height: auto;
}
.about .large-bg-tiles .col--2-2.text .parent {
	position: relative;
	padding: 0;
}
.about .large-bg-tiles .col--2-2.text .borders.big-header {
	padding: 0;
}
}

@media only screen and (max-width: 768px) {
.container {
	width: 468px;
}
.col--3-2 {
	width: 468px;
	height: auto;
	float: none;
}
.large-bg-tiles .col--3-2, .large-bg-tiles .col--2-2 {
	width: 468px;
	height: 468px;
}
.large-bg-tiles .col--3-2 .parent, .large-bg-tiles .col--2-2 .parent {
	padding: 55px 80px;
}
.image-holder {
	height: 468px;
	width: 468px;
	float: none;
}
.text-holder {
	height: auto;
	width: 468px;
	margin-left: 0;
	border-top: 0;
}
.avatar-holder {
	position: relative;
	bottom: auto;
	padding: 0 0 10px;
}
.col--2-1 .image-holder {
	height: 234px;
	width: 140px;
	float: left;
}
.col--2-1 .text-holder {
	height: 214px;
	width: 288px;
	margin-left: 160px;
	border-top: 2px solid #2b2b2b;
}
.post-image .borders.big-header {
	padding: 55px 80px;
}
#menu-button {
	left: 0;
	top: 0;
	padding: 17px 10px 0;
	width: 100%;
	height: 46px;
	position: fixed;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 1111;
	background: #1d1d1d;
}
#nav-button {
	display: inline-block;
	width: 46px;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-align: center;
	cursor: pointer;
	float: right;
}
.nav-bar {
	background-color: #fff;
	border-radius: 1px;
	display: block;
	width: 16px;
	height: 2px;
	margin: 0px auto 2px;
	position: relative;
}
#main-nav {
	background-color: #1d1d1d;
	top: 0;
	right: 0;
	padding: 46px 0px;
	width: 200px;
	position: fixed;
	height: 100%;
	z-index: 1;
	border-left: 1px solid rgba(255,255,255,0.1);
	display: block;
}
#main-nav ul {
	position: relative;
	line-height: 1.4;
	float: left;
	width: 134px;
}
#main-nav ul li {
	float: none;
	display: block;
}
#main-nav ul li a {
	padding: 7px 0;
	display: block;
	font-size: 14px;
}
#main-nav ul li a:hover, #main-nav ul li a.selected {
	color: rgba(255,255,255,1);
}
#main-nav ul li ul {
	padding-top: 6px;
	position: relative;
	float: none;
}
#main-nav ul li ul li a {
	font-size: 13px;
	border: 0;
	padding: 3px 0;
	padding-left: 0px;
}
#options {
	padding: 10px 25px !important;
}
nav .container {
	width: 200px !important;
}
.sub-nav-toggle::after {
	top: 8px;
	right: -4px;
}
.pushed-left #nav-button span:nth-child(1), .pushed-left-alt #nav-button span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	top: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.pushed-left #nav-button span:nth-child(2), .pushed-left-alt #nav-button span:nth-child(2) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: relative;
	top: -1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pushed-left #nav-button span:nth-child(3), .pushed-left-alt #nav-button span:nth-child(3) {
	display: none;
}
nav .social-list {
	position: relative;
	float: left !important;
	width: 66px !important;
	border-left: 1px solid rgba(255,255,255,0.1);
	height: calc(100vh - 66px);
	padding: 10px 0px !important;
	display: block;
}
nav .social-list li {
	padding: 0px 0px 0 0;
	display: inline-block;
}
nav .social-list li a {
	border: 0 !important;
	margin: 0 !important;
	text-align: center;
}
nav .social-list li a i, #footer .social-list li a i {
	color: rgba(255,255,255,0.6);
	margin: 0 !important;
}
nav .social-list li a:hover i, #footer .social-list li a:hover i {
	color: rgba(255,255,255,1);
}
h1 {
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -2px;
}
.full-height-wrapper {
	height: 234px;
	width: 100%;
	overflow: hidden;
}
.containing-image-wrapper {
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}
}

@media only screen and (max-width: 480px) {
.container {
	width: 100%;
}
.col--1-1, .col--2-2, .col--1-2, .col--2-1, .col--2-3, .col--3-2 {
	width: 100%;
	height: auto;
	float: none;
	padding: 15px 25px;
}
.large-bg-tiles .col--3-2, .large-bg-tiles .col--2-2 {
	width: 100%;
	height: auto;
}
.large-bg-tiles .col--3-2 .parent, .large-bg-tiles .col--2-2 .parent {
	padding: 15px 25px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .extra-padding-right {
	padding: 10px 25px;
}
.row {
	margin-left: -25px;
	margin-right: -25px;
}
.with-bg {
	height: 234px !important;
}
.with-bg.post-image {
	height: auto !important;
}
.vertical-aligned-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.borders {
	border-bottom: 1px solid #d8d8d8;
	width: 100%;
	height: 100%;
	position: relative
}
.with-bg .borders {
	border: 0;
}
.borders.no-image {
	border-top: 2px solid #2b2b2b;
	height: auto;
	display: block;
	padding-bottom: 5px;
}
.borders.right-image {
	border: 0;
}
.borders.complete {
	border: 1px solid #d8d8d8 !important;
	height: auto;
}
.borders.big-header {
	padding: 17px 35px !important;
}
.image-holder {
	height: 234px;
	width: 100%;
	float: none;
}
.text-holder {
	height: auto;
	width: 100%;
	margin-left: 0;
	border-top: 0;
}
.avatar-holder {
	position: relative;
	bottom: auto;
	padding: 0 0 10px;
}
.col--2-1 .image-holder {
	height: 234px;
	width: 100%;
	float: none;
}
.col--2-1 .text-holder {
	height: auto;
	width: 100%;
	margin-left: 0;
	border-top: 0;
}
h1 {
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: -1.5px;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	line-height: 1.25;
	letter-spacing: -1px;
}
h3 {
	font-size: 20px;
	letter-spacing: -0.5px;
}
footer p {
	padding: 0 15px;
	text-align: center;
	display: block;
	float: none !important;
}
.avatar.author {
	text-align: center;
	display: block;
	float: none;
}
.avatar.author img {
	display: inline-block;
}
.post .left-to-avatar {
	padding-left: 0;
}
.comment {
	padding: 30px 0 25px;
	text-align: center;
}
.commenter-avatar {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	float: none
}
.comment-content {
	padding-top: 20px;
	display: block;
	width: 100%;
	max-width: 100%;
}
.comment.reply.level-1 {
	padding-left: 0
}
.comment-form-wrapper {
	padding-top: 29px;
	text-align: center
}
.comment-form-icon-wrapper {
	text-align: center;
	margin-bottom: 20px;
	display: inline-block;
	float: none;
	margin-right: 0;
}
.comment-form-icon-wrapper:before {
	display: inline-block;
}
.comment-form {
	padding: 0;
}
input, textarea {
	width: 100% !important;
}
.comment-form .input-wrapper::after {
	left: 50%;
	margin-left: -43px;
}
}
